body {
    background: rgb(37, 37, 48);
    color: whitesmoke;

    font-family: cursive;

    display: grid;
    grid-template-rows: auto 1fr auto;
}

main {
    display: grid;
    place-items: center;
}

a {
    color: inherit;
}

a:hover {
    color: rgb(162, 223, 162);
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    gap: calc(.5em + .35vw);

    width: clamp(200px, 100%, 900px);
    height: 100%;
    max-height: 700px;

}

.item-1 {
    background: orange;
    grid-area: 1 / 1 / span 6 / span 7;
}

.item-2 {
    background: darkolivegreen;
    grid-area: 1 / 8 / span 6 / -1;
}

.item-3 {
    background: rebeccapurple;
    grid-area: 7 / 1 / -1 / span 5;
}

.item-4 {
    background: lime;
    grid-area: 7 / 6 / span 3 / -1;
}

.item-5 {
    background: darkred;
    grid-area:  10 / 6 / -1 / -1;
}